#mouse-scrollEvents {
    position: relative;
    margin: auto;
    top: 13rem;
    transform: translateX(-50%);
    -webkit-transform: translateX(-50%);
    z-index: 9999;
    opacity: 0.25;
  }

 @media only screen and (max-width: 480px) {
    #mouse-scrollEvents {
      top: 9rem;
      left: 0.5rem;
    }
  }

  #mouse-scrollEvents span{
    display: block;
    width: 5px; 
    height: 5px;
    -ms-transform: rotate(45deg);
      -webkit-transform: rotate(45deg);
         transform: rotate(45deg);
         transform: rotate(45deg);
    border-right: 2px solid #fff; 
    border-bottom: 2px solid #fff;
    margin: 0 0 3px 5px;
  }
  #mouse-scrollEvents .mouseEvents {
    height: 21px;
    width: 14px;
    border-radius: 10px;
    -webkit-transform: none;
    -ms-transform: none;
    transform: none;
    border: 2px solid #ffffff;
    top: 170px;
  }
 
  #mouse-scrollEvents .mouse-inEvents {
    height: 5px;
    width: 2px;
    display: block; 
    margin: 5px auto;
    background: #ffffff;
    position: relative;
  }
  #mouse-scrollEvents .mouse-inEvents {
      animation : animated-mouse 1.2s ease infinite;
   -webkit-animation: animated-mouse 1.2s ease infinite;
    -moz-animation: mouse-animated 1.2s ease infinite;
  }
  
  @-webkit-keyframes animated-mouse {
    0% {
      opacity: 1;
      -webkit-transform: translateY(0);
      -ms-transform: translateY(0);
      transform: translateY(0);
    }
    100% {
       opacity: 0;
      -webkit-transform: translateY(6px);
      -ms-transform: translateY(6px);
      transform: translateY(6px);
    }
  }
  
  @keyframes animated-mouse {
      0% {
        opacity: 1;
        -webkit-transform: translateY(0);
        -ms-transform: translateY(0);
        transform: translateY(0);
      }
      100% {
         opacity: 0;
        -webkit-transform: translateY(6px);
        -ms-transform: translateY(6px);
        transform: translateY(6px);
      }
    }
  
  @-webkit-keyframes mouse-scrollEvents {
    0% {
      opacity: 1;
    }
    50% {
      opacity: .5;
    }
    100% {
      opacity: 1;
    } 
  }
  
  @keyframes mouse-scrollEvents {
    0% {
      opacity: 0;
    }
    50% {
      opacity: 0.5;
    }
    100% {
      opacity: 1;
    }
  }

  /*Logo*/

  
  .NextDoor{
    width: 300px;
    height: auto;
    }

  .CreativeGenius{
    width: 300px;
    height: auto;
    position: relative;
  }

  .SweetsEarth{
    width: 300px; 
    height: auto;
    position: relative;
  }

  .gfm{
    height: 700px;
    width: 700px;
  }

  .gsmc{
    height: 700px;
    width: 700px;
  }

  .pitch{
    height: 600px;
    width: 700px;
  }

@media only screen and (max-width: 480px) {
  
    .NextDoor {
      width: 200px;
      height: 300px;
      position: relative;
    }
   
    .CreativeGenius {
      position: relative;

    }
    .SweetsEarth {
      position: relative;
      width: 250px;
    }
  }