.container-slider {
    max-width: 1480px;
    height: 700px;
    margin: 40px auto 0;
    position: relative;
    overflow: hidden;
    top: 8rem;
    border-radius: 25px;
  }

  @media screen and (max-width: 1100px){
    .container-slider {
      max-width: 800px;
    height: 500px;
    }
  }

  @media screen and (max-width: 900px){
    .container-slider {
      max-width: 450px;
    height: 300px;
    }
  }

  @media screen and (max-width: 480px){
    .container-slider {
      max-width: 350px;
    height: 200px;
    }
  }

  .slide {
    width: 100%;
    height: 100%;
    position: absolute;
    opacity: 0;
    transition: opacity ease-in-out 0.4s;
  }
  .slide img {
    width: 100%;
    height: 100%;
    object-fit: cover;
  }
  .active-anim {
    opacity: 1;
  }
  
  .btn-slide {
    width: 60px;
    height: 60px;
    border-radius: 50%;
    position: absolute;
    color: white;
    display: flex;
    justify-content: center;
    align-items: center;
    cursor: pointer;
  }
  
  .btn-slide img {
    width: 25px;
    height: 25px;
    pointer-events: none;
  }
  .prev {
    top: 50%;
    font-size: 3rem;
    z-index: 10; 
    cursor: pointer;
    user-select: none;
    left: 20px;
  }
  .prev:hover {
      transform: scale(1.1);
  }

  @media screen and (max-width: 900px){
    .prev {
      left: 0;
      top: 45%;
      padding-right: 30px;
    }
  }

  @media screen and (max-width: 480px){
    .prev {
      top: 40%;
    }
  }
  
  .next {
    top: 50%;
    translate: 50%;
    font-size: 3rem;
    z-index: 10;
    cursor: pointer;
    user-select: none;
    right: 40px;
  }
  .next:hover {
      transform: scale(1.1);
  }
  
  @media screen and (max-width: 900px){
    .next {
      right: 13px;
      top: 45%;
      font-size: 1.8rem;
    }
  }
  @media screen and (max-width: 480px){
    .next {
      top: 40%;
    }
  }
  
  
  .container-dots {
    position: absolute;
    bottom: 10px;
    left: 50%;
    transform: translateX(-50%);
    display: flex;
  }
  .dot {
    width: 20px;
    height: 20px;
    border-radius: 50%;
    border: 3px solid #f1f1f1;
    margin: 0 5px;
    background: #f1f1f1;
  }
  .dot.active {
    background: #015A6D;
  }